# Use the Tsinghua PyPI mirror by default for faster installs in mainland China.
--index-url https://pypi.tuna.tsinghua.edu.cn/simple

pandas
packaging
psutil
pycryptodome>=3.20
pytz
tabulate
pandas_market_calendars
importlib-resources; python_version < "3.9"
